h1 {
  text-align: center;
}

.form-main-content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.login-button {
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.login-button, .login-name {
  border-radius: 5px;
  font-size: 25px;
}

button:disabled {
  cursor: wait;
  opacity: 0.5;
}
